body{

	background-color: #1A1A1A;
}

/*-----------login front side --------------*/
#login{
    border: solid #85001A;
	background-color: #2C2C2C;
	width: 350px;
	box-shadow:inset 50px 50px 50px #2C2C2C;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	position:absolute;
	top:15%;
    left: 33%; 
    margin: 0px;

}
#login input{
	display: block;
	padding:5px 27px;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
	color:#85001A;
	font-family: 'Electrolize';
	background-color: #2C2C2C;
	border: solid #85001A ;
}
#login p{
	   color: white;
	   font-size: 30px;
	   margin-top: 0px;
	   margin-bottom: 0px;
	   padding-left: 70px;
}
 #login input[type="submit"]{
    border: solid #85001A;
 	margin-left: 80px;
 	background-color:#2C2C2C; 
 	color: white;
}

/*---------------header part---------------------*/

.logo{
	border: solid white;
	width: 99%;
	font-size: 20px;
	font-family: Old English Text MT;
	color: green;
}
.info{
	font-size: 20px;
	position: absolute;
	margin-right: 100px;
	right: 10px;
	top:2px;
	color: green;
}



.showing_different{
	color: red;
}
/* inside the header styling the navigation */

nav ul {
	list-style-type: none;
	margin:0px;
	padding: 0px;
}

nav ul li{
	display: inline;
	font-size: 30px;
	padding-left: 30px;
	color: 
}
/* displaying the dir path */
#path input{
    display: block;
	width: 98%;
	margin-top: 20px;
	font-size: 30px;
	margin-left: 10px;
	color:green;
	background-color: #1A1A1A;
}